@model StudentModel;


<html>
    <head>
        <title></title>
	
    </head>

<body>
    <h1>user Contact Form</h1>
    <div class="container">
        <div class="row text-center">
            <form method="post" asp-action="userdata" asp-controller="practice">
                <div class="col-md-6 offset-3 mt-3">
                    <input asp-for="name" class="form-control mt-3" />
                </div>
              
                <div class="col-md-6 mt-3 offset-3">
                    <input asp-for="standerd" class="form-control mt-3" />
                </div>
               
                <div class="col-md-6 mt-3 offset-3">
                    <input asp-for="gander" class="form-control mt-3" />
                </div>
                <button class="btn btn-info mt-5">Submit</button>
            </form>
        </div>
    </div>


</body>
</html>