<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="dbcs" connectionString="Data Source=.;
			 Initial Catalog=windowAuth;
			 Integrated Security=True;
			 Trust Server Certificate=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	
	
</configuration>
